<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Le Bon Plan</title>
  </head>
  <body>
    {{#if isLoggedIn}}
      <nav>
        <h2>LeBonPlan</h2>
        <div class="navBtn">
          <a href="/">Home</a>
          <a href="">Cities</a>
        </div>
        <div class="navBtn">
          <a href="/profile">Profile</a>
          <a href="/logout">Logout</a>
        </div>
      </nav>
    {{else}}
      <nav>
        <h2>LeBonPlan</h2>
        <div class="navBtn">
          <a href="/">Home</a>
          <a href="">Cities</a>
        </div>
        <div class="navBtn">
          <a href="/signup">Signup</a>
          <a href="/login">Login</a>
        </div>
      </nav>
    {{/if}}

    {{{body}}}
  </body>
</html>