<nav>
  <h2>LeBonPlan</h2>
  <div>
    <a href="/">Home</a>
    <a href="">Cities</a>
  </div>
  <div>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
  </div>
</nav>
<main>
  <h1>Le Bon Plan</h1>
  <div>
    <p>Paris</p>
    <p>Lyon</p>
    <p>Marseille</p>
  </div>
</main>