<nav>
  <h2>LeBonPlan</h2>
  <div class="navBtn">
    <a href="/">Home</a>
    <a href="">Cities</a>
  </div>
  <div class="navBtn">
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
  </div>
</nav>
{{#if isLoggedIn}}
  <main>
    <h1>Le Bon Plan</h1>
    <div>
      <p>Paris</p>
      <p>Lyon</p>
      <p>Marseille</p>
    </div>
  </main>
{{else}}
  <main>
    <h1>Le Bon Plan</h1>
    <h3>Welcome back !</h3>
    <div>
      <p>Paris</p>
      <p>Lyon</p>
      <p>Marseille</p>
    </div>
  </main>
{{/if}}