<nav>
  <h2>LeBonPlan</h2>
  <div class="navBtn">
    <a href="/">Home</a>
    <a href="">Cities</a>
  </div>
  <div class="navBtn">
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
  </div>
</nav>
<main>
  <h1>Login</h1>
  <form action="/login" method="POST">
    <label for="email">Username</label>
    <input type="text" name="username" id="username" />
    <label for="password">Password</label>
    <input type="text" name="password" id="password" />
    <input type="submit" class="submitBtn" />
  </form>
</main>