<nav>
  <h2>LeBonPlan</h2>
  <div>
    <a href="">Home</a>
    <a href="">Cities</a>
  </div>
  <div>
    <a href="">Profile</a>
    <a href="">Log out</a>
  </div>
</nav>
<main>
  <h2>Username:</h2>
  <h3>{{username}}</h3>
  <h2>First name:</h2>
  <h3>{{firstName}}</h3>
  <h2>Last name:</h2>
  <h3>{{lastName}}</h3>
</main>